body {
  background-color: #eee;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;                /* 呈一橫列排示 */
  /* flex-direction: column; */       /* 呈一直行排示 */
  align-items: center;
  background-color: #eee;
}

nav>ul{                               /* 影響整的nav */
  display: flex;                      
  width: 35vw;                        
  justify-content: space-around;      
  
}

.logo{
  width: 63vw;
}

li{
  list-style: none;                   /* 把li(list)原本的格式清掉 */
}

li a{
  text-decoration: none;              /* 清掉底線(underline) */
}